body {
    background-color: #333;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Caixa-texto {
    color: white;
    width: 100%;
    max-width: 600px;
    min-height: 60px;
    max-height: 300px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #333;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Caixa-texto::placeholder {
    color: #555;
}

.Retangulo {
    width: 20%;
    height: 45%;
    padding: 120px;
    background-color: #333;
    border: 3px solid #333;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Menu {
    width: 20%;
    height: 1718px;
    padding: 100px;
    background-color: #444;
    border: 3px solid #444;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
}

.Botao_Enviar {
    position: absolute;
    top: 87%;
    left: 89%;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.4s ease;

}

.Botao_Enviar:hover {
    background-color: rgba(255, 255, 255, 0.10);

}

.Mensagens {
    height: 400px;
    width: 580px;
    left: 5px;
    overflow-y: scroll;
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
}

.Mensagem {
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: fit-content;
    max-width: 70%;
    word-wrap: break-word;
}

.Mensagem.user {
    align-self: flex-end;
    background-color: #ff0000;
    color: white;
}




/* Rolagem suave*/
.Mensagens {
    /* Para Firefox */
    scrollbar-width: thin;
    scrollbar-color: #ff0000 #333;
}

/* Para Chrome, Safari e Opera */
.Mensagens::-webkit-scrollbar {
    width: 8px;
}

.Mensagens::-webkit-scrollbar-track {
    background: #222;
}

.Mensagens::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 4px;
}

.Botao_Novo_Chat {
    position: absolute;
    top: 16px;
    left: 230px;
    background-color: transparent;
    border: none;
    color: #b62b2b;
}

.Botao_Novo_Chat_2 {
    position: absolute;
    top: 16px;
    left: 75px;
    background-color: transparent;
    border: none;
    color: #b62b2b;

}

.Botao_Menu {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    color: #ff0000;
    padding: 10px;
    cursor: pointer;
    border: none;
}

.Botao_Menu:focus {
    outline: none;
}

.logo {
    width: 350px;
    height: 200px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.Users {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #b62b2b
}

/* Define opacidade com icone transparente + transição suave para hover*/
.UsersIcon {
    opacity: 0.5;
    transition: opacity 0.3s ease;

}

/* opacidade normal ao passar o mouse */
.UsersIcon:hover {
    opacity: 1;
}

.Sidebar {
    position: fixed;
    top: 0;
    left: -280px;
    width: 250px;
    height: 100%;
    background-color: #444;
    color: #fff;
    transition: left 0.3s ease;
    padding: 10px;
    z-index: 1000;
}

.Sidebar.open {
    left: 0;

}

.Sidebar ul {
    list-style-type: none;
    padding: 0;
}

.Sidebar ul li {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
}

.Sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.Sidebar ul li a:hover {
    background-color: #575757;
}

.tooltip {

    z-index: 2000;
}


/* Retorna a opacidade  normal ao passar o mouse */
.Retangulo {
    margin-left: 10px;
    transition: margin-left 0.3s ease;
}

/* Ajuste de acordo com a largura da barra lateral */
.Retangulo.open {
    margin-left: 260px;
}

.Info {
    font-size: 14px;
    position: absolute;
    top: 70px;
    left: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Links {

    position: absolute;
    top: 130px;
    left: 5px;
}

.Titulo_1 {

    position: absolute;
    top: 80px;
    left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: #b62b2b;
    background-image: linear-gradient(to right, #b62b2b, #b23911);
    color: white;
    border-radius: 5px;

}

.Logo_Puc {

    width: 100px;
    height: 100px;
    position: absolute;
    top: 89%;
    left: 30%;

}

.Devs {

    width: 500px;
    height: 500px;
    position: absolute;
    top: 200px;
    right: 0%;

}

.Mensagem.system {
    background-color: #444;
    color: #ffcc00;
    text-align: left;
}

.Mensagem.error {
    background-color: #ff0000;
    color: #ffffff;
    text-align: left;
}

.Mensagem.loading {
    background-color: #555;
    color: #ffffff;
    text-align: left;
}

.toast-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

@media (max-width: 600px) {
    .logo {
        width: 150px;
        height: 120px;
        top: 5px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .logo {
        width: 200px;
        height: 160px;
        top: 8px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .logo {
        width: 220px;
        height: 180px;
        top: 10px;
    }
}

/* CSS para o spinner de carregamento */
.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 5%;
    position: absolute;
    top: 395px;
    left: 0;
    background-color: transparent;
    z-index: 1;
}

.spinner {
    border: 4px solid rgb(255, 0, 0);
    border-radius: 50%;
    border-top: 4px solid #ffffff;
    width: 10px;
    height: 10px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}